/*
* 
* @author Rosberg Guedes
* @version 0.2
*/

/* ========================= layout ======================== */
html, body, .capa {
	height: 100%;
}

body {
	/*background: linear-gradient(purple 10% ,#0d47a1);
	background-image: linear-gradient(45deg,#0a1855,#da0024 100%); 
	background: url('../imagens/fundo8.png') #212121;*/
	background-color:#4fd8e8;
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3));
	background-attachment: fixed;			
	webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;  
	background-attachment: fixed;			
	font-family: 'Roboto',sans-serif;
	overflow-x: hidden;
}

/* -- Barra de navegação -- */
.img-logo {
	height: 40px;
	width: 132px;
	display: block;
	background: url('../imagens/spotify.svg') no-repeat;
	background-size: contain;
	color: transparent;
}
nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}
.navbar-brand{
	padding: 5px 15px;
}

.menu-mob{
  cursor: pointer;
  color: #fff;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}
.navbar-inverse .navbar-toggle{
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;   
        font-size: 2em;
}

.navbar-inverse .navbar-toggle:hover{
    background: none; 
}

.navbar-inverse .navbar-toggle:active{
	background: none;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a {
	display: inline-block;
	color: white;
	font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
	color: #9bf0e1;
	background: none;

}


/* -- Imagem de capa -- */
.capa {
	display: table;
	width: 100%;
}
.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}


/* -- Botoes -- */
.btn-sistmax {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
       -moz-border-radius: 500px;
       padding: 10px 35px;
       margin: 0px 15px;
       text-transform: uppercase;
       transition: background 0.4s, color 0.4s;
}
.btn-roxo {
	background-color: #7c25f8;
}
.btn-roxo:hover {
	background-color: #6207e3;
	color: white;
}
.btn-branco {
	border: 2px solid #fff;
	color: white;
}
.btn-branco:hover {
	background-color: #fff;
	color: black;
}


/* -- secao sobre-- */
#sobre {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}
.albuns{
	padding: 30px 0px 10px 0px;
}
.albuns-fade{
   -webkit-transition: 1s;
    transition-duration: 1s;
    -moz-transition: 1s;
 }
.albuns-fade:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
}
.sobre{
		margin: 0px 0px 20px 0px;
	}


/* -- secao projetos -- */
#projeto{
	padding-top: 20px;
	padding-bottom: 20px;
	
}
.rotacionar{
	transform: rotate(30deg);
	-ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    padding-left: 80px;
}


/* -- rodape -- */
footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}
#rodape .nav a {
	padding: .1875em 0;
    padding-top: 0.1875em;
    padding-right: 0px;
    padding-bottom: 0.1875em;
    padding-left: 0px;
    margin-bottom: .75em;
}
.item-rede-social{
	float: right;
	padding-left: 5px;
	padding-right: 5px;
}


/* ========================= Tipografia ======================== */
h1 {
	font-size: 110px;
	font-weight: 900;
	letter-spacing: -0.03em;
	margin-bottom: 50px;
	color: #fff;
}
h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}
h3{
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;
}
#rodape h4 {
	color: #919496;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .08em;
}
#sobre h2, #sobre h3 {
	color: #7c25f8;
}
#projeto h3 {
	color:#1cbdfe;
}
#sobre p{
	font-size: 17px;
    font-weight: 400;
    line-height: 1.3;
    text-align: justify;
}

/* ========================= Mobile ======================== */
@media screen  and (max-width: 768px){
	.albuns-fade:hover{
	    -webkit-transform: scale(1);
	    -ms-transform: scale(1);
	    transform: scale(1);
	    transition-duration: 0s;
	    -moz-transition: 0s;
    }
    albuns-fade{
	    -webkit-transform: scale(1);
	    -ms-transform: scale(1);
	    transform: scale(1);
	    transition-duration: 0s;
	    -moz-transition: 0s;
	    clear:both;
    }
	.albuns > [class*="col-"] {
	    padding-left: 0 !important;
	    padding-right: 0 !important;  
  	}
  	.albuns{
  		padding-left: 15px;
  		padding-right: 15px;
  		padding-top: 0 !important;
  		padding-bottom: 0 !important;
  	}
  	.texto-capa h1{
  		font-size: 90px;
  	}
	.img-logo {
		height: 40px !important;
		width: 122px !important;
	}
	.img-social{
		height: 48px !important;
		width: 48px !important;
	}
	.col-social{
		margin-top: 60px;
	}
	.item-rede-social{
		float: left  !important;
	}
	.divisor{
		-ms-transform: rotate(90deg); /* IE 9 */
    	transform: rotate(90deg);
    	-webkit-transform: rotate(90deg);
		color: white;
		background: white;
		width: 2px;
		height: 16px;
		margin: 16px 22px;
	}
}

@media screen  and (max-width: 660px){
	.texto-capa h1{
		font-size: 80px;	
	}
	.btn{
		font-size: 15px;
		font-weight: 600; 
	}
	.btn-branco{
			margin-top: 10px; 
		}
	.btn-roxo{
			margin-top: 10px; 
		}	
	.btn{
		width: 255px;
	}
}

@media screen  and (max-width: 480px){
	.texto-capa h1{
		font-size: 60px;	
	}
	.btn{
		width: 255px;
	}
	.btn-branco{
		margin-top: 10px; 
	}
}

/* ------------------------------------------------------- */




